@font-face {
    font-family: 'gravure-2';
    src: url('../fonts/gravure-2.otf');
}
@font-face {
    font-family: 'Crystal-Medium-2';
    src: url('../fonts/Crystal-Medium-2.ttf');
}
@font-face {
    font-family: 'Bock-Medium-2';
    src: url('../fonts/Bock-Medium-2.ttf');
}
@font-face {
    font-family: 'YaZhiBan';
    src: url('../fonts/ShanHaiJiGuMingKe£¨YaZhiBan£©-2.ttf');
}